.navigation__list {
  display: flex;
  // justify-content: flex-end;
  font-size: 14px;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.04em;
  // padding-top: 14px;
  gap: 20px;
  // opacity: 0;
  flex-grow: 1;
}
.decoration {
  padding-top: 14px;
}
.out {
  padding-top: 14px;
}
.line {
  padding-top: 3px;
}
.name {
  color: black;
  text-transform: capitalize;
}
.default {
  color: #9b9faa;
}
.active {
  color: black;
}

@media screen and (min-width: 767px) {
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0.04em;
    gap: 20px;
    opacity: 1;
  }

  .line {
    padding-top: 3px;
  }
  .out {
    padding-top: 14px;
  }
  .name {
    color: black;
    text-transform: capitalize;
  }
  .default {
    color: #9b9faa;
  }
  .active {
    color: black;
  }
}

@media screen and (min-width: 1279px) {
  .decoration {
    padding-top: 14px;
  }
  .navigation__list {
    display: flex;
    margin-left: auto;
  }
}
