@import '../../styles/base/container';
@import '../../styles/utils/variables'; 


.overlay{
  position: fixed;
  top: 80px;
  left: 0;
  width: 320px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #EFF1F3;
//   background-color:  rgba(33, 33, 33, 0.12);
  z-index: 1200;
}


.modal{
    // width: 100%;
    // padding-left: 20px;
    // padding-right: 20px;
    margin: 0 auto;
    padding: 40px 20px 0 20px;
    position:absolute;
    top:40px;
    left:0;
    width:320px;
    height:100%;
    background-color: var(--btn-text-color);

}

.icon{
    position:absolute;
     top:17px;
     left:20px;
}
.title{
    font-size: 18px;
    font-weight: 700;
    line-height: calc(25 / 18);
    text-align: center;
    padding-bottom: 42px;
}

.caloriesContainer{

}