@import '../../styles/base/container';
@import '../../styles/utils/variables';

.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 320px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff1f3;
  //   background-color:  rgba(33, 33, 33, 0.12);
  z-index: 1200;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 0 20px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: var(--btn-text-color);
}

.icon {
  position: absolute;
  top: 17px;
  left: 20px;
}
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: calc(25 / 18);
  text-align: center;
  padding-bottom: 42px;
}

.caloriesContainer {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.calories {
  font-weight: 700;
  font-size: 48px;
  color: #264061;
  display: block;
  padding-bottom: 38px;
  text-align: center;
  line-height: calc(57 / 48);
}

.caloriesText {
  padding-bottom: 38px;
  text-align: center;
  font-size: 16px;
  line-height: calc(19 / 16);
}
.secondaryTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-bottom: 20px;
  text-align: center;
}
.btn {
  margin: 0 auto;
  text-align: center;
}

.list {
  padding-left: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  font-weight: 800;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #9b9faa;
}
