@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
